# Virtual Environments
.venv/
env/
venv/
ENV/

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Streamlit temporary files
.streamlit/*
!.streamlit/config.toml

# OS Specific
.DS_Store
Thumbs.db
desktop.ini

# IDE files
.vscode/
.idea/

# Logs & temp training info
*.log
catboost_info/
